@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

:root {
    --font-family: 'DM Sans', sans-serif;

    --color-bg: #E5E5E5;
    --color-footer: #58585A;
    --color-text: #39B54A;
    --color-subtext: #9AE19D;
    --color-button: #00AEEF;
}